<!--<link href="../static/css/pages/maps/shellcatch_maps.css" rel="stylesheet">-->

<div data-ng-include src="'../templates/include/menu.html'"></div>

<h1>VIEWER</h1>

<div class="container" data-ng-controller="ViewerController">
    <div class="row">
        <div class="col-md-6">
            <label for="" class="control-label">Boat</label>
            <br>
            <select id="id_mac" name="id_mac" class="form-control" data-ng-change="BoatChange(boat.mac_address)" data-ng-model="boat.mac_address">
                <option value="">--choice--</option>
                <option data-ng-repeat="boat in boats" value="{{boat.mac_address}}" >{{boat.mac_address}}</option>
            </select>
            <div id="alert-boat" class="alert alert-warning" role='alert' style='display:none'></div>
        </div>

        <div class="col-md-6">
            <label for="" class="control-label">Trip</label>
            <br>
            <select id="id_trip" name="id_trip" class="form-control" data-ng-change="TripChange(trip.date)" data-ng-model="trip.date">
                <option value="">--choice--</option>
                <option data-ng-repeat="trip in trips" value="{{trip.date}}">{{trip.date}}</option>
            </select>
        </div>
        <div id="alert-trip" class="alert alert-warning" role='alert' style='display:none'></div>

    </div>
    <div class="row">
        <br>
        <div class="col-md-12">
            <leaflet width="100%" height="480px"></leaflet>
            <!--<div id="mapid" style='height: 300px;'>-->

            <!--</div>-->
        </div>
    </div>


</div>

<!--<script src="../static/js/pages/maps/shellcatch_maps.js"></script>-->
<!--<script src="../static/js/pages/maps/plugins/leaflet.polylineDecorator.js"></script>-->
<!--<script src="../static/js/pages/maps/function_maps.js"></script>-->


